 .jp-video {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     position   : relative;

     -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
     -moz-box-shadow   : 0px 0px 20px rgba(0, 0, 0, .3);
     box-shadow        : 0px 0px 20px rgba(0, 0, 0, .3);
 }

 .jp-video-360p {
     width : 570px;
     margin: 100px auto;
 }


 .popup {
     background: rgba(100, 100, 100, 0.5);
     position  : fixed;
     display   : none;
     z-index   : 5000;
     height    : 100%;
     width     : 100%;
     left      : 0;
     top       : 0;
 }

 .popup>div {
     max-width        : 600px;
     width            : 70%;
     position         : fixed;
     -webkit-transform: translate(-50%, -50%);
     transform        : translate(-50%, -50%);
     left             : 50%;
     top              : 50%;
     background       : #FFFFFF;
     padding          : 30px;
     z-index          : 5001;
     text-align       : center;
     border           : 5px solid #ff4747;
     border-radius    : 10px;
     box-shadow       : 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
 }

 .full-screen {
     position  : absolute;
     left      : 0;
     right     : 0;
     top       : 0;
     bottom    : 0;
     background: rgba(0, 0, 0, 0.9);
 }

 .flex-container-center {
     displaY        : flex;
     flex-direction : column;
     justify-content: center;
     align-items    : center;
 }

 .full-screen {
     color: white
 }

 .hidden {
     display: none;
 }

 .blur-bg {
     filter: blur(5px);
 }