.dropdown-toggle::after {
    margin-left: 8.255em;
}

option {
    background-color: #e9ecef !important;
    color           : black !important;
}

.no-shadow {

    box-shadow: none !important;
}

.messageBox {
    padding     : 1em;
    background  : #002e3666;
    border      : #eee solid 2px;
    position    : absolute;
    top         : 50%;
    left        : 50%;
    margin-right: -50%;
    transform   : translate(-50%, -50%);
    text-shadow : 0px 0px 8px #000;
    color       : #fff;
}

#text {
    font-family: Questrial;
    text-align : center;
}

#construction {
    font-family: "Pacifico", cursive;
}

.main-body {
    line-height            : 1.9em;
    background             : #aaa url(https://cdn.pbrd.co/images/HxiLKj4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
    filter                 : progid:DXImageTransform.Microsoft.AlphaImageLoader(src="https://cdn.pbrd.co/images/HxiLKj4.jpg",
            sizingMethod="scale"
        );
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://cdn.pbrd.co/images/HxiLKj4.jpg', sizingMethod='scale')";
}

.login-wrapper {
    /* The image used */
    background-image   : url("../images/bg0-3.jpg");
    /* Full height */
    height             : 100%;
    /* Center and scale the image nicely */
    background-position: top;
    background-repeat  : no-repeat;
    background-size    : cover;

}


.auth .brand-logo img {
    width: 80px;
}

.lucida-font {
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}

.auth .auth-form-light {
    background         : #fff;
    /* background-color: rgba(255, 255, 255, .9); */
    /* backdrop-filter : blur(8px); */

}